<style>
    p.relative-font-size {
  font-size: 8vw;
}

@media (min-width: 640px) {

  p.relative-font-size {
    font-size: 4vw;
  }
	
}
</style>



<div id="article" class="uk-section uk-section-default uk-box-shadow-medium">
    <div class="uk-container">
    <h1 class="relative-font-size"> Who are we ? </h1>
    <p> We are an information technology student from King Saud University, 
        developed anees video game as a gradution project. </p>
        <h1 class="relative-font-size"> Our solution </h1>
        <p> Our solution concerning the psychological part of the children's therapy which is generalized anxiety 
            specificly anxiety from schools and markets and gardens. By developing a  video game to help children 
            diagnosed with generalized anxiety to reduce their anxiety. And by analysing child's progress and 
            mental status and visualize it in here (the therapist dashboard).
        </p>
    </div>
</div>