

        <!-- List of therapists  -->
        <div class="uk-overflow-auto">
          <div class="table-scroll">

            <table class="uk-table uk-table-striped uk-table-small" id="Table-data">
              <thead>
                <tr>
                  <th scope="col"> </th>
                  <th scope="col"> Full Name </th>
                  <th scope="col"> Profile </th>
                  <th scope="col"> Status </th>
                  <th scope="col"></th>
                  <th> </th>
                </tr>
              </thead>
  
              <tbody id="Table-data">
  
                <% if(typeof data != 'undefined' ){ %>
                  <% var i = 1 %> 
                  <% var string ='' %> 
                  <%  data.forEach(function(row)  { %>
                <tr>
                  <td> <%= i++ %> </td>
                  <td> <%= string.concat(row.first_name, " ", row.family_name) %> </td>
                  <td> 
                    <a  href="/registerRequest/:<%=row.therapist_id %>/profile"> 
                        <span uk-icon="icon: user; ratio: 0.7"></span>
                        view profile
                    </a>

                  </td>
                    <% if( row.status == 1) { %> 
                  <td> registered </td>
                    <% } else if (row.status == 0){ %> 
                      <td> pandding </td>
                  <% } else { %> 
                    <td> pandding </td>
                  <% } %> 
       

                </tr>
  
                <% })} else{ %>
                    <tr>
                      <td colspan="6">No Record Found</td>
                      
                    </tr>
                  <% } %>
  
              </tbody>
            </table>
          </div>
          </div>
  
  