<div class="">
    <div class="">
      <h2>Welcome To Anees Dashboard</h2>
      <p class="">
        This website is a dashboard for Therapists. Its allows therapists to
        follow up with their patients via visualising data about their patient
        anxiety status. The data is inferred from patient reactions while
        playing with Anees Video Game. <br />
        <br />
        Anees Video Game and Anees Dashboard are
        <span class="underline">
          only available for therapists in King Khalid University Hospital,
          Riyadh.
        </span>
      </p>
    </div>
  </div>
