<style>
  .Emailemsg, .Passemsg {
 color: red;
 font-size: 10px;
 margin: 0;
 padding: 0;
}



.hidden {
 visibility: hidden;
 margin: 0;
 padding: 0;
 font-size: 0px;
}

#email {
  margin-bottom: 20px;
}
</style>

<div class="wrapper">
  <div>
<div id="login-form-area"> 
      <form id="form" action="/usersAdmain/loginAdmain" method="post">
        <div id="form-header">
          <p> 
            Login
          <small>
            <span uk-icon="icon: lock"> </span> 
            Secured connection
          </small> 
        </p> 
        </div>
        <div id="email" class="uk-form-controls uk-width-1-1">
          <label> Email </label>
          <input id="email" class="uk-input uk-form-large" type="text" name="email" placeholder="Email">
          <span class="Emailemsg hidden">Please Enter A Valid Email</span>
        </div>


        <% if(typeof errors != 'undefined') {%> 
          <span style="color: red; font-size: 11px;"> <%= errors %> </span>
        <% } %> 

        <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Login via email </button>


    <% if(typeof msg != 'undefined') { %>
          <span style="color: green; font-size: 11px;"> <%= msg %> </span>
        <% } %> 
      </form>
</div>
</div>
</div>
      <script>


      </script>